@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

#cipher-log .card {
  border-radius: 0;
  border-color: rgb(235, 235, 235);
  background: rgb(235, 235, 235);
}

.info {
  font-family: "Ubuntu Mono ", monospace;
  color: #555;
  font-size: 0.7rem;
  font-weight: bolder;
}

span {
  font-family: "Ubuntu Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lockSettings {
  font-family: "Ubuntu Mono", monospace;
  color: #666;
  text-align: center;
  font-weight: 600;
}

.resetSettings {
  margin-top: 0.6rem;
  text-align: center;
  font-family: "Ubuntu Mono";
  font-size: 14px;
}

.resetSettings a {
  color: #999;
  text-decoration: underline;
}

.resetSettings a:hover {
  color: #777;
}

.react-select__control {
  border-radius: 0;
}

.lockSettings .custom-checkbox .custom-control-label::before {
  box-shadow: none;
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2b303b;
  box-shadow: none;
  border: none;
}

.settings {
  margin-top: 4px;
}

hr {
  margin-top: 10px !important;
}

.btn-primary {
  background-color: #2b303b;
}

.col-md-4 {
  background-color: #fafafa;
}

/* KEYBOARD */
.keyboard {
  margin-bottom: 3em;
}

.keyboard button {
  border-radius: 0;
}

.keyboard button {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: #fff;
  color: black;
  border: solid black;
  margin-bottom: 5px;
}

.keyboard button:hover {
  border: solid black;
  background-color: rgb(235, 235, 235);
  color: black;
}

.first-row-letters {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
  margin-top: 1.9rem;
}

.second-row-letters {
  margin: auto;
  width: 65%;
  margin-bottom: 10px;
}

.third-row-letters {
  margin: auto;
  width: 70%;
}

/* PLUGBOARD */

.arrow {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  marker-end: url(#markerArrow);
}

.note {
  color: darkred;
  margin-left: 10px;
  text-decoration: underline;
}

.gray {
  color: #555;
  text-decoration: underline;
}

div.oval {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 2px black;
  width: 15px;
  height: 35px;
  margin: auto;
}

div.clicked {
  background-color: #2b303b;
  border: none;
}

.plug {
  display: inline-block;
  margin: 1em;
  text-align: center;
}

/* LAMPS */
.lamps {
  margin-bottom: 3em;
  margin-top: 4px;
}

.lamps .light {
  color: #fff;
  background-color: #2b303b;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  border: solid 2px #2b303b;
  color: black;
  display: inline-block;
  margin: 0.6em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.enigma-type {
  font-family: "Ubuntu Mono";
  font-size: 15px;
  margin-top: 6px;
}

.info-modal {
  margin: auto;
  text-align: center;
}

.info-modal a {
  font-family: "Ubuntu Mono";
  text-decoration: underline;
  color: #2b303b;
}

h5 {
  font-family: "Ubuntu Mono";
  color: white;
  background-color: #2b303b;
  padding: 3px;
  display: inline-block;
}

.title {
  font-family: "Ubuntu Mono";
  color: white;
  background-color: #2b303b;
  padding: 3px;
  display: inline-block;
}

.excess {
  color: #fff;
  background-color: #2b303b;
  display: inline-block;
}

.m4-note {
  width: 100%;
  background-color: #2b303b;
  color: #fff;
  padding: 10px;
  font-family: "Ubuntu Mono";
  text-align: center;
}
