body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary {
  background-color: black;
}

.col-md-4 {
  background-color: rgba(214, 190, 214, 0.067);
}

/* KEYBOARD */
.keyboard {
  margin-bottom: 3em;
}

.keyboard button {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: #fff;
  color: black;
  border: solid black;
  margin-bottom: 5px;
}

.keyboard button:hover {
  border: solid black;
  background-color: rgb(235, 235, 235);
  color: black;
}

.first-row-letters {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
}

.second-row-letters {
  margin: auto;
  width: 65%;
  margin-bottom: 10px;
}

.third-row-letters {
  margin: auto;
  width: 70%;
}

/* PLUGBOARD */

.arrow {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  marker-end: url(#markerArrow);
}

.note {
  color: darkred;
  margin-left: 10px;
}

div.oval {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 2px black;
  width: 15px;
  height: 35px;
}

div.clicked {
  background-color: #333;
}

.plug {
  display: inline-block;
  margin: 1.2em;
  text-align: center;
}

/* LAMPS */
.lamps {
  margin-bottom: 3em;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  /* background: #000; */
  border: solid 2px #333;
  color: black;
  display: inline-block;
  margin: 0.7em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Settings */
.enigma-select {
  margin-left: 10px;
  display: inline-block;
  width: 10%;
  height: calc(1.4em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
