@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

#cipher-log .card {
  border-radius: 0;
  border-color: rgb(235, 235, 235);
  background: rgb(235, 235, 235);
}

.info {
  font-family: "Ubuntu Mono ", monospace;
  color: #555;
  font-size: 0.7rem;
  font-weight: bolder;
  position: absolute;
  top: -13px;
  margin-bottom: 10px !important;
  background-color: #fafafa;
  padding: 0px 5px 0px 5px;
}

.noInfo {
  font-family: "Ubuntu Mono ", monospace;
  color: #555;
  font-size: 0.7rem;
  font-weight: bolder;
}

.plugPointer {
  font-family: "Ubuntu Mono ", monospace;
  color: #555;
  font-size: 0.7rem;
  font-weight: bolder;
}

span {
  font-family: "Ubuntu Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.settingsAreLocked {
  font-family: "Ubuntu Mono", monospace;
  color: #666;
  text-align: center;
  font-weight: 600;
}

.resetSettings {
  margin-top: 0.6rem;
  text-align: center;
  font-family: "Ubuntu Mono";
  font-size: 14px;
}

.resetSettings a {
  color: #999;
  text-decoration: underline;
}

.resetSettings a:hover {
  color: #777;
}

.react-select__control {
  border-radius: 0;
}

.settingsAreLocked .custom-checkbox .custom-control-label::before {
  box-shadow: none;
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2b303b;
  box-shadow: none;
  border: none;
}

.settingsAreLocked
  .custom-checkbox
  .custom-control-input
  ~ .custom-control-indicator {
  background-color: grey !important;
}

.settings {
  margin-top: 4px;
}

hr {
  margin-top: 10px !important;
}

.btn-primary {
  background-color: #2b303b;
}

.col-md-4 {
  background-color: #fafafa;
}

/* KEYBOARD */
.keyboard {
  margin-bottom: 3em;
}

.keyboard button {
  border-radius: 0;
}

.keyboard button {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: #fff;
  color: black;
  border: solid black;
  margin-bottom: 5px;
}

.keyboard button:hover {
  border: solid black;
  background-color: rgb(235, 235, 235);
  color: black;
}

.first-row-letters {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
  margin-top: 1.9rem;
}

.second-row-letters {
  margin: auto;
  width: 65%;
  margin-bottom: 10px;
}

.third-row-letters {
  margin: auto;
  width: 70%;
}

/* PLUGBOARD */

.arrow {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
  marker-end: url(#markerArrow);
}

.note {
  color: darkred;
  margin-left: 10px;
  text-decoration: underline;
}

.gray {
  color: #555;
  text-decoration: underline;
}

div.oval {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 2px black;
  width: 15px;
  height: 35px;
  margin: auto;
}

div.clicked {
  background-color: #2b303b;
  border: none;
}

.plug {
  display: inline-block;
  margin: 1em;
  text-align: center;
}

/* LAMPS */
.lamps {
  margin-bottom: 3em;
  margin-top: 4px;
}

.lamps .light {
  color: #fff;
  background-color: #2b303b;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  border: solid 2px #2b303b;
  color: black;
  display: inline-block;
  margin: 0.6em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.enigma-type {
  font-family: "Ubuntu Mono";
  font-size: 15px;
  margin-top: 6px;
}

.info-modal {
  margin: auto;
  text-align: center;
}

.info-modal a {
  font-family: "Ubuntu Mono";
  text-decoration: underline;
  color: #2b303b;
}

h5 {
  font-family: "Ubuntu Mono";
  color: white;
  background-color: #2b303b;
  padding: 3px;
  display: inline-block;
}

.title {
  font-family: "Ubuntu Mono";
  color: white;
  background-color: #2b303b;
  padding: 0px 3px 0px 3px;
  display: inline-block;
  width: 120px;
  text-align: center;
  max-width: 150px;
}

.excess {
  color: #fff;
  background-color: #2b303b;
  display: inline-block;
}

.m4-note {
  width: 100%;
  background-color: #2b303b;
  color: #fff;
  padding: 10px;
  font-family: "Ubuntu Mono";
  text-align: center;
}

/* DRAG AND DROP */

.unloadButton {
  color: #333;
  padding: 0px 4px 0px 4px;
  height: 100%;
  text-align: center;
  line-height: normal;
  float: right;
  font-family: monospace;
  border: 0 solid gray;
  background-color: #fff;
}

.unloadButton:hover {
  background-color: lightgrey;
}

.position {
  margin-top: 10px;
  width: 100%;
  margin-right: 5px;
  color: #333;
  padding: 0.6rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  float: left;
  font-family: "Ubuntu Mono";
  border: 1.5px dashed gray;
}

.positionLoaded {
  margin-top: 10px;
  width: 100%;
  margin-right: 5px;
  color: #333;
  padding: 0.6rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  float: left;
  font-family: "Ubuntu Mono";
  border: 1.5px solid gray;
}

.rotorStyle {
  border: 1px solid #333;
  background-color: white;
  padding: 5px 12px 5px 12px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: move;
  text-align: center;
  font-family: "Ubuntu Mono";
  display: block;
}

.rotorLoaded {
  background-color: white;
  font-family: "Ubuntu Mono";
  padding: 5px 12px 5px 12px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: default;
  border: 0.5px solid #999;
  color: rgb(92, 92, 92);
  background-image: linear-gradient(
    45deg,
    #ffffff 25%,
    #f2f2f2 25%,
    #f2f2f2 50%,
    #ffffff 50%,
    #ffffff 75%,
    #f2f2f2 75%,
    #f2f2f2 100%
  );
  background-size: 11.63px 11.63px;
  text-align: center;
  display: block;
}

.rotors {
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
  justify-content: center;
  margin-bottom: 16px;
}

.encapsulate {
  border: 0.5px solid rgb(212, 212, 212);
  margin: 0 auto !important;
  padding: 5px 0px 0px 0px;
}

/* HELP MODAL */

.helpModalContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  min-height: 100vh;
  z-index: 20;
}

.helpContents {
  height: 100%;
  line-height: 1.5;
  color: rgb(75, 75, 75);
  padding-bottom: 3em;
}

.headingContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.helpContents h4 {
  color: white;
  background-color: #2b303b;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.emph {
  color: var(--help-emph-color);
}

.helpContents a {
  color: var(--help-emph-color);
}

.hidden {
  display: none;
  background: rgba(0, 0, 0, 0);
}

.circleReveal {
  width: 100vw;
  height: 100vh;
  animation: circle 0.8s 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  clip-path: circle(0% at calc(100vw / 2) calc(100vh / 2));
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes circle {
  0% {
    clip-path: circle(0% at calc(100vw / 2) calc(100vh / 2));
  }
  100% {
    clip-path: circle(200% at calc(100vw / 2) calc(100vh / 2));
  }
}

.maxWidth {
  margin: 1em;
}
@media screen and (min-width: 680px) {
  .maxWidth {
    margin: 0 100px 0 170px;
    max-width: 640px;
  }
}
@media screen and (min-width: 980px) {
  .maxWidth {
    margin: 0 auto;
  }
}

.closeButtonContainer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50px);
  z-index: 25;
}

pre.asm {
  margin: 0.5em 0;
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: 0.8em;
  border: 0.3em solid #d7d7d7;
  color: black;
  background: #d7d7d7;
}

/* BUTTON */

.buttonContainer {
  position: relative;
  top: 7px;
  left: 0;
}

.close {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
